.hello {
    color: red;
}
.toolbar-container{
    position: fixed;
    left:10px;
    bottom:20px;
}

.toolbar-container > u-ul > *:not([active="true"]) {
    display:none
}
.toolbar-container > u-nav > *{
    padding:10px;
}
.toolbar-container > u-nav > [active="true"] {
    background: rgb(244, 157, 157);
    color:white;
}
.toolbar-container > u-nav > *:not([active="true"]) {
    background: white;
    color:black
}
